# Watson Discovery values
IBM_DISC_API_KEY=FILL_IN
IBM_DISC_PROJ_ID=FILL_IN
IBM_DISC_SERVICE_URL=FILL_IN
IBM_DISC_COLL_ID=FILL_IN

# watsonx.ai values
IBM_WX_API_KEY=FILL_IN
IBM_WX_PROJ_ID=FILL_IN
IBM_WX_SERVICE_URL=FILL_IN